.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md

__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env
ENV

.env
.env.local

db.sqlite3
db.sqlite3-journal
staticfiles
media

.idea
.vscode
.DS_Store
Thumbs.db
