# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Entorno y secretos
.env
.env.local

# IDEs y SO
.idea/
.vscode/
.DS_Store
Thumbs.db

# Docker
*.pid
